<h1>Books</h1>

  <table>
<% @books.each_with_index do |book,i| %>
  <% if i < 1 %>
    <thead>
      <tr>
        <th>Title</th>
        <th>Body</th>
      </tr>
    </thead>
  <% end %>
    <tbody>
  	  <tr>
  	    <td><%= book.title %></td>
  	    <td><%= book.body %></td>
  	    <td><%= link_to "Show", book_path(book.id) %></td>
  	    <td><%= link_to "Edit", edit_book_path(book.id) %></td>
  	    <td><%= link_to "Destroy", destroy_book_path(book.id), method: :delete, "data-confirm" => "Are you sure?" %><br></td>
  	  </tr>
    </tbody>
<% end %>
  </table>


<h2>New book</h2>
<%= form_for(@book, url: '/books') do |f| %>

    <p>Title<p>
    <%= f.text_field :title %>

    <p>Body<p>
    <%= f.text_area :body %>
    <br><br>

    <%= f.submit 'Create Book' %>

<% end %>